@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/*Versão MOBILE*/

/*Cabeçalho*/
header{
    display: block;
    width: 100%;
}
.logo> img{
    width: 50px;
    margin: 0 auto;
    align-items: center;
    padding: 5px 0px;
}
.logo{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 8px 0px;
    width: 50%;
}
.cabecalho{
    text-align: center;
    width: 100%;
    font-size: 0.8em;

}
.cabecalho> p{
    color: #2f86d6;
    font-weight: bold;
    font-size: 13px;
}
.cabecalho> h1{
    font-size: 22px;
    font-weight: 400;
}
nav{
    width: 90%;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    display: flex;
    gap: 12px;
    
}
nav> a{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    color: #7c7272;
    text-decoration: none;
    
}
a:hover{
    cursor: pointer;
    color: #292727;
}

/*Seção Menu*/
main{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.topo{
    display: block;
    background-color: #2f86d6;
    color: #ffffff;
    width: 100%;
}
.banner{
    width: 100%;
    margin: 0 auto;
    
}
.banner> img{
    width: 100%;
    
}
.formulario{
    width: 90%;
    margin: 0px auto;
    padding: 15px 0px;

}
.formulario> p{
    font-size: 15px;
    padding: 15px 0px;
    margin-bottom: 8px ;
}

.formulario> h2{
    font-size: 22px;
    padding:  10px 0px;
    border: 1px solid #5096ff5e;
    border-radius: 5px;
   
}

#banner{
    background-color: #233032;
    color: #ffffff;
    height: 200px;
    padding: 10px 0px;
   
}
#banner> h3{
    font-size: 21px;
    margin-bottom: 20px;
    width: 90%;
    margin: 15px auto;
}
#banner> p{
    font-size: 15px;
}
.botao{
    margin: 15px auto;
    border: 1px solid blue;
    width: 160px;
    height: 40px;
    background-color: #2f86d6;
    padding: 8px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px #1a1919;
    display: flex;
    justify-content: space-evenly;
}
.botao> a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.botao> img{
    width: 20px;
    height: 19px;
    
}
.botao:hover{
    background-color: #4b4be2;
}

/*Cards*/
.card1> img{
    width: 80px;
}
.pq{
    font-size: 15px;
    margin-top: 10px;
}
.card1{
    width: 200px;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px;
}
.card1> h3{
    font-size: 18px;
    padding: 5px 0px;
}
.card1> p{
    font-size: 15px;
}

/*TABELA*/

.tabela{
    width: 98%;
    justify-content: center;
    margin: 15px auto;
    box-shadow: 0px 0px 4px 3px #b1b1ff;
}
aside{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    
}
.texto-azul{
    color: #2f86d6;
}

th{
    border: 1px solid #e2d7d7c4;
}
td{
    border: 1px solid #e2d7d7c4; 
}
th> img{
    width: 80px;
}
th> p{
    width: 100px;
    font-size: 10px;
    margin: 0px auto;
    padding: 0px 0px;
    color: #7c7272;
    font-weight: 200;
}
th> h3{
    font-size: 12px;
    margin-top: 5px;
    padding: 2px 0px;
}

table{
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px;
    align-items: center;
}

.cor> td{
    font-size: 13px;
    background-color: #f1f3f7;
    padding: 5px 5px;
    
}
.sem-cor> td{
    font-size: 13px;
    padding: 5px 5px;
}
/*Seção Final*/
#final{
    background-color: #2f86d6;
    color: #ffffff;
    height: 190px;
    padding: 10px 0px;
   
   
}
#final> h3{
    font-size: 21px;
    margin-bottom: 20px;
    width: 80%;
    margin: 15px auto;
}
.botao2{
    margin: 15px auto;
    width: 160px;
    height: 40px;
    background-color: #233032;
    padding: 12px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px #1a1919;
    display: flex;
    justify-content: space-evenly;
}
.botao2> a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.botao2> img{
    width: 20px;
    height: 19px;
    
}
.botao2:hover{
    background-color: #4b4be2;
}
.final{
    text-align: center;
    font-size: 0.8em;

}
.final> p{
    color: #2f86d6;
    font-weight: bold;
    font-size: 13px;

}
.final> h1{
    font-size: 22px;
    font-weight: 400;
}
.lista{
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
li{
    padding: 10px 10px;
    font-size: 14px;
}
.rodape{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color:  #f1f3f7;
    padding: 15px;
    font-size: 14px;
}
